<mat-toolbar>
    <mat-toolbar-row class="justify-content-between">
      <button mat-icon-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      
    
     

      <div class="row mr-2 ml-auto">
        <div>
          <a mat-list-item routerLinkActive="list-item-active" routerLink="/createIncidents">
            <mat-icon >editdocument</mat-icon> Add
          </a>
        </div>
        <div class="form">
          <mat-icon>search</mat-icon>
          <input type="text" class="form-control form-input" placeholder="Search anything...">
          
        </div>
       
      </div>
    </mat-toolbar-row>
  </mat-toolbar>