<mat-nav-list>

  <div class="logo py-4">
    <img src="./assets/coficab.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h6></h6>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/incidents">
    <mat-icon>web</mat-icon>Incident logging
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>table</mat-icon> escalation
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>leaderboard</mat-icon> Statistics
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>circles</mat-icon> Monthly KPIs
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>support</mat-icon> Yearly KPIs
  </a>

  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>logout</mat-icon> Log Out
  </a>
</mat-nav-list>
